* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: block;
  
}

h1 {
  font-size: 1.3rem;
  text-align: start;
  justify-content: start;
  margin: 3em auto;
  text-transform: uppercase;
  font-weight: 400;
  width: 127px;
  height: 46px;
  color: #1d00f8;
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: start;
  backdrop-filter: blur(10px);
  padding: 10px;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 10px;
  color: rgb(255, 0, 0);
}

h2 {
  color: #2fff00;
  font-size: 1.3rem;
  text-align: end;
  justify-content: start;
  margin: 3em auto;
  text-transform: uppercase;
  font-weight: 400;
  width: 107px;
  height: 48px;
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: end;
  backdrop-filter: blur(5px);
  padding: 10px;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 10px;
  color: rgb(0, 255, 42);
}
h3 {
  
  font-size: 1.3rem;
  text-align: start;
  justify-content:start;
  margin: 3em auto;
  text-transform: uppercase;
  font-weight: 400;
  width: 200px;
  height: 46px;
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: end;
  backdrop-filter: blur(5px);
  padding: 10px;
  border: 2px rgb(252, 252, 250) solid;
  border-radius: 10px;
  color: rgb(57, 3, 255);
  
}
